# Source and config files
/src
/scripts
.gitignore
jest.config.js
tsconfig.json
package-lock.json

# Test files
*.test.ts

# Preview artifacts
/preview_assets
/preview.html
/PREVIEW.md

# Do NOT ignore the build output
!/dist